{% extends 'base.html.twig' %}

{% block title %}Vincent Signoret | Portfolio
{% endblock %}

{% block body %}

	{% include ("home/partials/_hero.html.twig") %}

	<div class="heropush">
		<div class="divider divider-hero">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1280.667 200"><path d="M2130,599.067v200L849.333,798.4V735.345s802.144,108.194,1144.517-15.2C2073.5,691.438,2116.163,657.932,2130,599.067Z" transform="translate(-849.333 -599.067)" fill="#f1f1f1"/></svg>
		</div>
	</div>

	<section id="about">
		<div class="ctnpage">
			<div class="about_me">
				<div class="ctnpage">
					<h2>Me</h2>
					<p>I’m a backend developer, I build
						<span class="special">PHP web application</span>
						I’m specialized with the
						<span class="special">Symfony Framework</span>.
						<br>
						<br>
						I am a very curious and open-minded person and I’m not afraid to learn new technologies. I’m currently looking for a job, so if you are looking for a very motivated developer you can contact me.</p>
				</div>
			</div>

			{% include ('home/partials/_skill.html.twig') %}
		</div>

	</section>


	<section id="projects">
		<div class="divider divider-about">
			<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1200 120" preserveaspectratio="none">
				<path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
			</svg>
		</div>

		{% include ('home/partials/_project.html.twig') %}
	</section>

	<section id="contact">
		<div class="ctnpage">
			<h2 class="contact_title">Contact</h2>

			{% include ('home/partials/_contact.html.twig') %}

		</div>

	</section>
	<div class="background-push">
		<div class="divider divider-project">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 1279 213"><path d="M2126,2032s-638.005,177.143-1279,179l1279,34Z" transform="translate(-847 -2032)" fill="#f1f1f1"/></svg>
		</div>
	</div>

{% endblock %}
