<div class="ctn-contact">
	<div class="ctn-image">
		<img src="images/face.jpg" alt="photo cover">
	</div>

	<div class="form-contact">
		{{include ('home/partials/_form_contact.html.twig')}}
	</div>
</div>
