<div>
	<i class="fab fa-github"></i>
	<i class="fab fa-linkedin"></i>
	<i class="fab fa-instagram-square"></i>
	<i class="fab fa-twitter-square"></i>
</div>
<div class="footer">
	<p>
		&copy Made with
		<span style="color:red; font-size:120%;">&hearts;</span>
		by Vincent Signoret with
		<i class="fab fa-symfony"></i>

	</p>
</div>
