<section id="hero">
	<div class="ctnpage">
		<div class="hero_imgCtn">
			<div class="hero_imgCtn_abs">
				<img class="photome" src="images/background1.jpg" alt="photo cover">
				<img class="photoskill" src="images/background2.jpg" alt="photo cover">
				<img class="photobase" src="images/background.jpg" alt="photo cover">
			</div>
		</div>
		<div class="hero_content">
			<h1 class="hero_content_intro">
				Hello! My name is
				<br>
				<span class="hero_content_name">Vincent Signoret</span>
				<br>
				I'm a backend web developer
			</h1>
			<p class="hero_intro_hook">Do you want to know what is behind<span class="hero_intro_hook_undr">_</span>
			</p>
			<div class="hero_content_links">
				<a class="main-link meLink" href="#about">Me</a>
				<a class="main-link projectsLink" href="#projects">My Projects</a>
			</div>
		</div>
	</div>

</section>
