{% extends 'base.html.twig' %}

{% block title %}technos!
{% endblock %}


{% block body %}
<h1>
	technos management</h1>
<table class="styled-table">
	<thead>
		<tr>
			<th>technos</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for techno in technos %}
			<tr>
				<td>{{techno.name}}</td>
				<td>
					<button>

						<a href="{{ path('app_techno_edit', {'id': techno.id} ) }}">edit</a>
					</button>
				</td>
				<td>
					{% include 'techno/_form_delete.html.twig' %}</td>
			</tr>
		</tbody>
	</tbody>
</tr>{% endfor %}</tbody></table>{% endblock %}
