{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Projects
{% endblock %}

{% block body %}
	<h1>Edit Project</h1>
	<div>
		
		{{include ('admin/project/_form.html.twig')}}
	</div>

{% endblock %}
