/*
////////////VARIABLES//////
*/
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

@font-face {
  font-family: "apex_mk3medium";
  src: url("./fonts/apex_mk3-medium-webfont.woff2") format("woff2"),
    url("./fonts/apex_mk3-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primarycolor: #ff5353;
$bgblack: #171717;
$bgligth: #f1f1f1;
$underdecodark: #535353;
$underdecolight: #cccccc;
$maintext: #7d7d7d;

$mainfont: "Nunito", sans-serif;
$titlefont: "apex_mk3medium", sans-serif;

/*
/////////////GENERAL STYLES////////////
*/

body {
  background: $bgblack;
  font-family: $mainfont, Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.ctnpage {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}

.divider {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

h2 {
  font-family: $titlefont;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 22px;
  letter-spacing: 0.2rem;
  color: $bgblack;

  &::after {
    content: "";
    background: $underdecolight;
    position: absolute;
    bottom: -6px;
    left: 0px;
    height: 1.5px;
    width: 13vw;
  }
}

img {
  max-width: 100%;
}

header {
  background-color: $bgblack;
  width: 100%;
  z-index: 4;
  position: relative;

  .customnav {
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    height: 5vh;
  }

  nav {
    .navbar-collapse {
      padding: 1em 2em;
    }

    .nav-link {
      font-size: 1.5em;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: white;
      font-size: 1.5em;
      transition: all 2s ease-in-out;

      &:hover {
        color: white;
        transition: all 2s ease-in-out;
      }
    }
  }
}

.main-link {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 1.15em;
  transition: all 0.2s ease;

  &:hover {
    color: darken(white, 40%);
    transition: all 0.2s ease;
    text-decoration: none;
  }

  &::after {
    content: "";
    background: $primarycolor;
    height: 2px;
    width: 110%;
    position: absolute;
    bottom: -4px;
    display: block;
  }
}

@media only screen and (min-width: 728px) {
  .ctnpage {
    padding: 0px 30px;
  }

  header .customnav {
    height: 6vh;
  }

  #navbarNav {
    justify-content: flex-end;

    .nav-link {
      padding: 0 1rem;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .ctnpage {
    padding: 0px 30px;
  }

  h2 {
    font-size: 2.5em;
    letter-spacing: 0.2rem;
  }
}

/*
/////////HERO//////////////
*/

#hero {
  position: relative;
}

.divider-hero {
  bottom: -1px;
}

#hero .ctnpage {
  display: flex;
  flex-direction: column;
  height: 94vh;
  align-items: center;
  padding-top: 2em;
  max-width: 2000px;
}

.hero_imgCtn {
  position: relative;
  width: 100%;
  display: block;
  height: 40vh;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40vh;
  }
}

.hidehero {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.hero_content {
  color: white;
  text-align: center;
  margin: 20px 0;
  padding: 0 20px;

  h1 {
    font-size: 1.2em;
    margin: 30px 0px;

    .hero_content_name {
      font-family: $titlefont;
      text-transform: uppercase;
      font-size: 1.4em;
    }
  }

  .hero_intro_hook {
    margin-bottom: 30px;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .hero_intro_hook_undr {
    animation: fade 1.5s infinite;
    margin-left: 2px;
  }

  .hero_content_links {
    display: flex;
    justify-content: space-evenly;
  }
}

.heropush {
  position: relative;
  width: 100%;
  margin-top: -20px;
}

@media only screen and (min-width: 1280px) {
  #hero {
    .ctnpage {
      flex-direction: row-reverse;
      padding-top: inherit;
    }
  }

  .hero_imgCtn {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;

    .hero_imgCtn_abs {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }

    img {
      max-height: 90vh;
      bottom: 0;
      right: 0;
      top: inherit;
      height: inherit;
      transform: inherit;
      left: inherit;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(23, 23, 23, 0.5);
    }
  }

  .hero_content {
    margin-top: -150px;
    text-align: left;
    width: 40%;

    .hero_intro_hook {
      font-size: 2em;
    }

    h1 {
      font-size: 3vw;
      line-height: 3vw;

      .hero_content_name {
        font-size: 3.2vw;
        line-height: 3.2vw;
      }
    }
  }

  .hero_content .main-link:first-child {
    margin-right: 67px;
  }

  .hero_content_links {
    position: absolute;
    display: block;
    bottom: 190px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: flex-start;

    .main-link {
      font-size: 4em;
    }
  }
}

/*
///////////ABOUT//////////
*/

#about {
  background: $bgligth;
  width: 100%;
  padding-top: 40px;
  position: relative;
  padding-bottom: 50px;
}

.divider-about {
  top: 0;
  fill: $bgligth;
  display: none;

  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 18px;
  }
}

#about .ctnpage {
  display: flex;
  flex-direction: column;
  background: $bgligth;
  padding: 0;

  .about_me {
    background: $bgligth;
    padding: 40px 20px;

    p {
      text-align: justify;
      color: $maintext;

      .special {
        color: $bgblack;
      }
    }
  }
}

@media only screen and (min-width: 728px) {
  .divider-about {
    display: block;
  }

  #about > .ctnpage {
    display: flex;
    flex-direction: row-reverse;

    .about_me {
      width: 50%;
      padding: 40px 20px;

      .ctnpage {
        padding: 0 20px;
      }

      h2 {
        text-align: right;

        &::after {
          right: 0;
          left: inherit;
        }
      }

      p {
        text-align: right;
        color: $maintext;
        border-radius: 6px;

        .special {
          color: $bgblack;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  #about {
    background: $bgligth;
    padding: 80px 0;
  }

  .ctnpage {
    position: relative;
  }

  .about_me {
    p {
      position: absolute;
      top: 90%;
      background: $bgligth;
      left: -20%;
      z-index: 2;
      text-align: right;
      padding: 20px 40px;
    }
  }
}

/*
/////////////SKILLS////////////
*/

.bg_skills {
  background: $bgblack;
  border-bottom: 4px;
  width: 90%;
  padding: 50px 0px;
  border-radius: 6px;
  margin: auto;

  h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 50px;
    letter-spacing: 0.2rem;
  }
}

.skills_list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  max-width: 360px;
  flex-wrap: wrap;
  font-size: 11px;
  margin: 0 auto;
  padding-left: 31px;

  li {
    position: relative;
    height: 90px;
    width: 90px;
    margin: 0 5px;
    float: left;
  }

  .ctn2_skills_list_box {
    padding-top: 100px;
  }
}

.skills_list_box {
  opacity: 0.9;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 0;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    z-index: 2;
  }

  .skill_list_box_img {
    height: 25px;
  }
}

.box_one {
  background: white;
  border: 2px #575757 solid;
}

.box_two {
  background: #171717;
  border: 2px white solid;
  color: white;
}

@media only screen and (min-width: 728px) {
  .bg_skills {
    width: 50%;
  }
}

/*
/////////////PROJECTS////////////
*/

#projects {
  position: relative;
  padding-top: 125px;

  h2 {
    color: white;

    &::after {
      background: $underdecodark;
    }
  }
}

.divider-project {
  top: -13vw;
}

/* Filtres Porfolio Gallery */
.category-button {
  color: $bgblack;
  background: white;
  margin: 0 0.3em 1em;
  border-radius: 2px;
  padding: 0.2rem 0.8rem;
  border: none;

  &:hover {
    background: darken(white, 20%);
  }

  &:focus {
    background: $primarycolor;
    color: white;
    box-shadow: none;
  }
}

/* Porfolio Gallery */
.portfolio_gallery {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(3, 260px);
  grid-gap: 30px;
  margin: 15vh auto 0;
}

/* Projet Porfolio Gallery */
.portfolio_gallery_project {
  width: 260px;
  height: 380px;
  position: relative;
  background: lightgrey;
  display: block;
  transition: all ease-in-out;
  margin: auto;
  overflow: hidden;
}

.portfolio_gallery_project_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  filter: grayscale(1);
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    filter: url("#duotone_vince");
  }
}

.portfolio_gallery_project_name {
  display: block;
  background: $bgblack;
  color: white;
  letter-spacing: 0.15rem;
  position: absolute;
  bottom: 1em;
  padding: 10px 20px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  min-width: 185px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
  .portfolio_gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .portfolio_gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

////////////////CONTACT/////////////

#contact {
  position: relative;

  h2 {
    color: white;
    text-align: right;
    margin-bottom: 100px;

    &::after {
      right: 0;
      left: inherit;
      background: $underdecodark;
    }
  }

  background: $bgblack;
  width: 100%;

  .ctnpage {
    padding: 0 20px;
  }
}

.ctn-image {
  img {
    margin: auto;
    display: block;
  }
}

.background-push {
  display: none;
}

@media only screen and (min-width: 728px) {
  .background-push {
    display: block;
  }

  #contact {
    .ctn-contact {
      display: flex;
      flex-direction: row;
    }

    .ctn-image {
      width: 50%;
      margin: inherit;
    }

    .form-contact {
      width: 50%;
      z-index: 2;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #contact {
    .ctn-image {
      margin-top: -50px;

      img {
        height: 400px;
      }
    }
  }
}

.contact-form {
  background-color: white;
  padding: 2em;
  overflow: hidden;
  border-radius: 6px;

  .contact-form_send {
    background: inherit;
    border: 0;
    font-size: 1.6em;
    margin-top: 0.4em;
    text-align: right;
    float: right;
    border-bottom: 4px solid $primarycolor;
    padding: 0;

    &:hover {
      color: lighten($bgblack, 20%);
      transition: all 0.2s ease;
      text-decoration: none;
      border-bottom: 4px solid lighten($primarycolor, 10%);
    }
  }
}

////////////////FOOTER////////////////
.background-push {
  width: 100%;
  height: 270px;
  background: $bgligth;
  margin-top: -181px;
  z-index: 1;
  position: relative;
}

footer {
  color: #cccccc;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;

  .divider-footer {
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
    display: none;

    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 50px;
      fill: #f1f1f1;
    }
  }

  .rs {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    z-index: 2;
    margin-top: -20px;

    a.circle {
      padding: 4px;
      background: white;
      border-radius: 50%;
      width: 45px;
      margin: 0 2px;
      height: 45px;
      text-align: center;
      border: 2px solid $bgblack;
      transition: all 0.2s ease-in-out;
      color: $bgblack;

      &:hover {
        background-color: $primarycolor;
        color: white;
        border: 2px solid white;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  p {
    margin: 2em auto;
    position: relative;
    overflow: hidden;

    i {
      font-size: 1.9em;
      vertical-align: middle;
    }
  }
}

@media only screen and (min-width: 720px) {
  footer {
    .divider-footer {
      display: block;
    }

    .rs {
      margin-top: -20px;
    }
  }
}

//////////////PROJECT SHOW////////////////

#project-show_head {
  display: flex;
  flex-direction: column;
  padding: 4em 0;

  .ctnpage {
    padding: 0px 40px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    font-family: $titlefont;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .description {
    max-width: 900px;
    margin: 3em auto;
    color: white;
    text-align: justify;
  }

  .ctntechnos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .techno {
      color: white;
      border: 2px $primarycolor solid;
      margin: 0 0.5em 1em;
      padding: 5px 15px;
      border-radius: 4px;
    }
  }

  .ctnlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .link {
    font-size: 1.2em;
    color: white;
    background: $primarycolor;
    padding: 5px 30px;
    margin: 0 0.5em 1em;
    border-radius: 4px;
    transition: background ease 0.4s;

    &:hover {
      text-decoration: none;
      background: darken($primarycolor, 4%);
      transition: background ease 0.4s;
    }
  }
}

#project-show_content {
  background: $bgligth;
  color: $bgblack;
  padding: 4em 40px;

  .ctnpage {
    text-align: left;

    img {
      max-width: 100%;
      border: 1px solid gray;
      height: auto;
      width: 100%;
      margin: 1em 0;
    }
  }

  .ctnnavigation {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    max-width: 2000px;

    a {
      color: white;
      background: $primarycolor;
      padding: 5px 30px;
      margin: 0 0.5em 1em;
      border-radius: 4px;
      transition: background ease 0.4s;

      &:hover {
        text-decoration: none;
        background: darken($primarycolor, 4%);
        transition: background ease 0.4s;
      }
    }
  }
}

@media only screen and (min-width: 720px) {
  #project-show_head {
    .ctntechnos,
    .ctnlinks {
      max-width: 900px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #project-show_head {
    h1 {
      text-align: left;
      font-size: 3em;
    }

    .ctnlinks,
    .ctntechnos {
      justify-content: flex-start;
      margin: 0 auto;
    }
  }
}

/*
/////////////ANIMATE////////////
*/

.anim-footerbloc {
  position: absolute;
  background: $bgblack;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
