<form method="post" action="{{ path('app_skill_delete', {'id': skill.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer définitivement ce skill?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
	<button class="btn" title="delete">
		Supprimer
	</button>
</form>
