{% extends 'base.html.twig' %}

{% block title %}Skills!
{% endblock %}


{% block body %}
<h1>
	Skills management</h1>
<table class="styled-table">
	<thead>
		<tr>
			<th>Skills</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for skill in skills %}
			<tr>
				<td>{{skill.name}}</td>
				<td>
					<button>

						<a href="{{ path('app_skill_edit', {'id': skill.id} ) }}">edit</a>
					</button>
				</td>
				<td>
					{% include 'skill/_form_delete.html.twig' %}</td>
			</tr>
		</tbody>
	</tbody>
</tr>{% endfor %}</tbody></table>{% endblock %}
