{% extends 'admin/admin_base.html.twig' %}

{% block title %}Create Skills
{% endblock %}

{% block body %}
	<h1>Create new skill</h1>
	<div>
		{{include ('admin/skill/_form.html.twig')}}
	</div>
{% endblock %}
