{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Skills
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Edit skill</h1>
		{{include ('admin/skill/_form.html.twig')}}
	</div>

{% endblock %}
