{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	Skills!
{% endblock %}


{% block body %}
	<div class="container mt-5">
		<h1 class="mb-5">
			Skills management
		</h1>
		<a href="{{path('app_skill_create')}}" class="btn btn-primary mb-3">Add New Skill</a>
	</div>

	<div class="container d-flex justify-content-between">
		<table class="table table-bordered table-striped table-dark table-bordered">
			<thead>
				<tr>
					<th scope="col">Skills</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr scope="row">
						<td>
							{{skill.name}}
						</td>
						<td>
							<a class="btn btn-primary" href="{{ path('app_skill_edit', {'id': skill.id} ) }}">edit</a>
						</td>
						<td>
							{% include 'admin/skill/_form_delete.html.twig' %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
